body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebdfde; /* Coral pink */
    color: #333333; /* Dark brown */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #3c6374; /* Steel blue */
    text-align: center;
    font-size: 2.5em;
}

.choice-heading {
    background-color: #E6B89C; /* Peach */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.choice-heading label {
    font-size: 1.2em;
}

.choice img {
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.choice {
    background-color: #EAD2AC; /* Light yellow */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(68, 61, 70, 0.913) 15px 20px 40px,
                rgba(171, 166, 171, 0.788) 5px 5px 10px;
}

.choice label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

button {
    background-color: #E6B89C; /* Steel blue */
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: #4281A4; /* Dark cerulean */
}

button[type="submit"] {
    background-color: #FE938C; /* Peach */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
