<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VOUS</title> 
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h2 class="logo">Vous</h2>
        <nav class="navigation">
            <a href="/index">AI Stylist</a>
            <a href="">Upcycling</a>
            <a href="">Smart Swap</a>
            <a href="">Custom</a>
            <a href="/donation">Donation</a>
            <a href="">Contact us</a>
        </nav>
    </header>
    <div class="quote">
        <h1>Style, Pour vous, Par vous</h1>
        <div class="roboto-thin">
            <h2>Style, For you, By you</h2>
        </div>
        
    </div>

</body>
</html>