
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Recommendation</h1>
    <h2>Outfit Recommendations:</h2>
    <ul>
            <li><img src="{{ recommendation.outfits }}" alt="Outfit"></li>
    </ul>
    <h2>Color Palette:</h2>
    <img src="{{ recommendation.color_palette }}" alt="Color Palette">
</body>
</html>
